/** Additional styles for seriracees results table in addtion to 
those in results-table-shared */

.table {
   table-layout: fixed;
}

.cdk-column-points {
   width: 60px;
   text-align: center;
}

.personal-band {
   font-size: 0.85em;
   opacity: 0.88;
}