<app-toolbar title="Boats">
  <button mat-icon-button [matMenuTriggerFor]="boatsDataMenu" aria-label="Boats data actions">
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>
<mat-menu #boatsDataMenu="matMenu">
  <button mat-menu-item (click)="downloadCsv()">
    <mat-icon>download</mat-icon>
    <span>Download CSV</span>
  </button>
  <button mat-menu-item (click)="csvFileInput.click()">
    <mat-icon>upload</mat-icon>
    <span>Upload CSV</span>
  </button>
</mat-menu>
<input #csvFileInput type="file" (change)="importCsv($event)" accept=".csv,text/csv" style="display:none">

<div class="content">

  <div class="search-bar">
    <mat-form-field class="search" subscriptSizing="dynamic">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Helm, No, Class">
      @if (searchControl.value) {
      <button mat-icon-button matSuffix (click)="searchControl.setValue('')" aria-label="Clear search">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>

    <mat-form-field class="group-by" subscriptSizing="dynamic">
      <mat-label>Group</mat-label>
      <mat-select [formControl]="groupByControl">
        <mat-option value="helm">Helm</mat-option>
        <mat-option value="boatClass">Class</mat-option>
      </mat-select>
    </mat-form-field>

    <a matButton="tonal" class="right-justify" [routerLink]="['/boats/add']">
      New
    </a>
  </div>

  <mat-divider />

  @if (bs.isLoading()) {
    <app-loading-centered />
  } @else {
  <mat-list class="dense-list">
    @for (group of groupedBoats(); track group.key; let isFirst = $first) {
      @if (!isFirst) {
        <mat-divider></mat-divider>
      }
      <h3 matSubheader>{{ group.key }}</h3>
      @for (boat of group.boats; track boat.id) {
      <mat-list-item>
        @if (boat.isClub) {
          Club
        }
        <span matListItemTitle>{{ boatSecondaryLabel(boat) }}</span>
          @if (boat.name) {
            <span matListItemLine>{{boat.name}}</span>
          }
        <span matListItemLine>{{ boatHandicapSummary(boat) }}</span>

        <span matListItemMeta>
          <button matIconButton aria-label="Edit" [routerLink]="['/boats/edit/'+boat.id]">
            <mat-icon class="green">edit</mat-icon>
          </button>
          <button matIconButton aria-label="Delete" (click)="deleteBoat(boat)">
            <mat-icon class="warning">delete</mat-icon>
          </button>
        </span>
      <mat-divider />

      </mat-list-item>
      }
    } @empty {
      <mat-list-item>
        <span matListItemTitle>No Boats displayed</span>
      </mat-list-item>
    }
  </mat-list>
  }
</div>