<form [formGroup]="form" class="tag-form">
  <div class="row">
    <mat-form-field>
      <mat-label>Tag Id</mat-label>
      <input matInput formControlName="id" autocomplete="off" placeholder="Persistant name" />
      @if (form.controls.id.hasError('required')) {
        <mat-error>Tag id is required</mat-error>
      } @else if (form.controls.id.hasError('idFormat')) {
        <mat-error>Tag Id must be lowercase</mat-error>
      } @else if (form.controls.id.hasError('duplicateId')) {
        <mat-error>Tag must be unique</mat-error>
      }
      <mat-hint>Lowercase Id</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Display Label</mat-label>
      <input matInput formControlName="label"/>
      @if (form.controls.label.hasError('required') || form.controls.label.hasError('blank')) {
        <mat-error>Label is required</mat-error>
      }
     <mat-hint>Display label for the tag</mat-hint>

    </mat-form-field>
  </div>

  <div class="color-row">
    <span class="color-row-label">Colour <span class="required-mark" aria-hidden="true">*</span></span>
    <mat-button-toggle-group
      class="color-toggle-group"
      formControlName="color"
      hideSingleSelectionIndicator
      aria-label="Tag colour"
      aria-required="true">
      @for (c of colors(); track c) {
        <mat-button-toggle [value]="c" [attr.aria-label]="c">
          <span class="swatch" [attr.data-color]="c"></span>
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
</form>
