@use '@angular/material' as mat;

// Toolbar slots
.app-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.toolbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.toolbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 8px;
}

.spacer {
  flex: 1 1 auto;
  display: none;
}

.title {
  margin-left: 8px;
  font-weight: 500;
}

// Style Material controls in toolbar.
:host {
  @include mat.button-toggle-overrides((
      height: 30px,
      text-color: var(--mat-sys-primary),
      selected-state-text-color: var(--mat-sys-primary),
      selected-state-background-color: var(--mat-sys-surface-variant),

    ));

  @include mat.checkbox-overrides((
     label-text-weight: 500,
     label-text-color: var(--mat-sys-primary),
     disabled-label-color: var(--mat-sys-primary),
     unselected-icon-color: var(--mat-sys-primary),
     unselected-focus-icon-color: var(--mat-sys-primary),
     unselected-hover-icon-color: var(--mat-sys-primary),
     disabled-unselected-icon-color: var(--mat-sys-primary),
    ));
}