<mat-toolbar class="app-toolbar">
   <div class="toolbar-left">
      @if (showBack()) {
      <button mat-icon-button navigateBack>
         <mat-icon>arrow_back</mat-icon>
      </button>
      } @else {
      <button mat-icon-button (click)="sidenavService.toggle()" aria-label="Toggle sidenav">
         <mat-icon>menu</mat-icon>
      </button>
      }
      <span class="title">{{title()}}</span>
   </div>

   <div class="toolbar-center">
      <ng-content select="[center]" />
   </div>

   <div class="spacer"></div>

   <div class="toolbar-right">
      <ng-content />
   </div>
</mat-toolbar>