<div class="sidenav-root">
  <header class="club-branding">
    <app-club-logo
      [alt]="clubDisplayName() + ' logo'"
      size="sm" />
    @if (clubWebsiteUrl(); as website) {
      <a
        class="club-name"
        [href]="website"
        target="_blank"
        rel="noopener noreferrer"
        (click)="onClubWebsiteClick($event)">
        {{ clubDisplayName() }}
      </a>
    } @else {
      <span class="club-name">{{ clubDisplayName() }}</span>
    }
  </header>

  <mat-nav-list class="sidenav-menu">

    <a
      mat-list-item
      class="sidenav-nav-item"
      routerLink="/home"
      routerLinkActive="mdc-list-item--activated"
      [routerLinkActiveOptions]="exactNavMatch"
      (click)="onNavClick()">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Home</span>
    </a>

    <a
      mat-list-item
      class="sidenav-nav-item"
      routerLink="/entry/entries"
      routerLinkActive="mdc-list-item--activated"
      [routerLinkActiveOptions]="prefixNavMatch"
      (click)="onNavClick()">
      <mat-icon matListItemIcon>assignment</mat-icon>
      <span matListItemTitle>Entries</span>
    </a>

    <a
      mat-list-item
      class="sidenav-nav-item"
      routerLink="/results/viewer"
      routerLinkActive="mdc-list-item--activated"
      [routerLinkActiveOptions]="prefixNavMatch"
      (click)="onNavClick()">
      <mat-icon matListItemIcon>emoji_events</mat-icon>
      <span matListItemTitle>Series Results</span>
    </a>

    <mat-divider />

    <a
      mat-list-item
      class="sidenav-nav-item"
      routerLink="/results-input/manual"
      routerLinkActive="mdc-list-item--activated"
      [routerLinkActiveOptions]="prefixNavMatch"
      (click)="onNavClick()">
      <mat-icon matListItemIcon>schedule</mat-icon>
      <span matListItemTitle>Results Input</span>
    </a>

    <a
      mat-list-item
      class="sidenav-nav-item"
      routerLink="/results-input/scan-scoring-sheet"
      routerLinkActive="mdc-list-item--activated"
      [routerLinkActiveOptions]="prefixNavMatch"
      (click)="onNavClick()">
      <mat-icon matListItemIcon>document_scanner</mat-icon>
      <span matListItemTitle>Scan Scoring Sheet</span>
    </a>

    @if (auth.loggedIn() && auth.isClubAdmin()) {
      <mat-divider />

      <a
        mat-list-item
        class="sidenav-nav-item"
        routerLink="/entry/kiosk"
        routerLinkActive="mdc-list-item--activated"
        [routerLinkActiveOptions]="prefixNavMatch"
        (click)="onNavClick()">
        <mat-icon matListItemIcon>tablet_mac</mat-icon>
        <span matListItemTitle>Entry Kiosk</span>
      </a>
    }

    <mat-divider />

    @if (auth.loggedIn() && auth.isClubAdmin()) {
      <a
        mat-list-item
        class="sidenav-nav-item"
        routerLink="/club-admin"
        routerLinkActive="mdc-list-item--activated"
        [routerLinkActiveOptions]="prefixNavMatch"
        (click)="onNavClick()">
        <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
        <span matListItemTitle>Club Admin</span>
      </a>
    }

    @if (auth.loggedIn() && auth.isSysAdmin()) {
      <a
        mat-list-item
        class="sidenav-nav-item"
        routerLink="/sys-admin"
        routerLinkActive="mdc-list-item--activated"
        [routerLinkActiveOptions]="prefixNavMatch"
        (click)="onNavClick()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>System Admin</span>
      </a>
    }

    @if (auth.loggedIn() && (auth.isClubAdmin() || auth.isSysAdmin())) {
      <mat-divider />
    }

    @if (auth.loggedIn()) {
      <a
        mat-list-item
        class="sidenav-nav-item"
        [matMenuTriggerFor]="accountMenu"
        (click)="$event.preventDefault()">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>{{ accountTitle() }}</span>
        <span matListItemMeta>
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
      </a>

      <mat-menu
        #accountMenu="matMenu"
        panelClass="account-menu-panel"
        xPosition="before"
        yPosition="below">
        <a mat-menu-item class="account-menu-item" routerLink="/user" (click)="onNavClick()">
          <mat-icon matMenuItemIcon>person</mat-icon>
          <span>User details</span>
        </a>
        <a mat-menu-item class="account-menu-item" routerLink="/auth/change-password" (click)="onNavClick()">
          <mat-icon matMenuItemIcon>lock</mat-icon>
          <span>Change password</span>
        </a>
        <button mat-menu-item class="account-menu-item" type="button" (click)="logout()">
          <mat-icon matMenuItemIcon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    } @else {
      <a
        mat-list-item
        class="sidenav-nav-item"
        routerLink="/auth/login"
        routerLinkActive="mdc-list-item--activated"
        [routerLinkActiveOptions]="prefixNavMatch"
        (click)="onNavClick()">
        <mat-icon matListItemIcon>login</mat-icon>
        <span matListItemTitle>Login</span>
      </a>
    }

  </mat-nav-list>
</div>
